---
---

@import "{{ site.theme }}";

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  //background-color: #ddd;
  //color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #159858;
  color: white;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  //background-image: linear-gradient(120deg, #155799, #159957);
  background-image: linear-gradient(120deg, #ECBD65, #693003);
}

.btn {
  //display: inline-block;
  //margin-bottom: 1rem;
  //color: rgba(255, 255, 255, 0.7);
  background-color: rgba(21, 152, 88, 0.99);
  //border-color: rgba(255, 255, 255, 0.2);
  //border-style: solid;
  border-width: 3px;
  //border-radius: 0.3rem;
  //transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover {
  //color: rgba(13, 194, 106, 0.99);
  //text-decoration: none;
  background-color: rgba(13, 194, 106, 0.99);
  //border-color: rgba(255, 255, 255, 0.3);
}
